/* css初始化 B */
*{
	margin:0;
	padding:0;
}
input,img{
	border: 0;
}
body{
	font-size: 12px;
}
ul{
	list-style:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	line-height: 0;
	visibility:hidden;
	clear:both;
}
.clearfix{
	zoom:1
}
a{
	color: #266392;
	text-decoration:none
}
a:hover{
	 text-decoration:underline; 
}
/* css初始化 E */
#wrap{
	width: 910px;
	margin: 0 auto;
}
/* header B */
#header{
	width: 100%;
}
.logo{
	width: 218px;
	height: 63px;
	background: url(../img/logo.gif) no-repeat;
	text-indent: -9999px;
	margin-top: 5px;
}
.content{
	margin-top: 15px;
}
.content dt{
	font-size: 14px;
	font-weight: bold;
	color: #5a5a5a;
	line-height: 25px;
}
.content dl{
	color: #828282;
	line-height: 24px;

}
.nav{
	width: 100%;
	height: 36px;
	background: url(../img/navbg.gif) no-repeat;
	margin-top: 8px;
}
.nav li{
	float: left;
	line-height: 36px;
	margin-left: 40px;
	font-weight: bold;
	font-size: 14px;
}
.nav li a{
	color: white;
}
.nav li a:hover{
	 text-decoration:none; 
}
.nav .home{
	width: 88px;
	color: #000;
	background: url(../img/home.gif) no-repeat 0 4px;
	text-align: center;

}
.nav .home a{
	color: #000;
}
.nav .qq_lab{
	float: right;
	background: url(../img/arrow_r.gif) no-repeat 0 center;
	padding-left: 25px;
	margin-right: 40px;
}
/* header E */
/* mainbody B */
#mainbody{
	width: 100%;
}
.bigbox{
	width: 600px;
	margin-top: 10px;
}
.banner{
	width: 600px;
	height: 200px;
	background: url(../img/banner.png) no-repeat;
}
.box{
	margin-top: 15px;
}
h3{
	line-height: 28px;
	border-bottom: 1px solid #cce6f5;
}
span{
	font-weight: normal;
	font-size: 12px;
}
.softwarelist{
	width: 100%;
	margin-top: 15px;
}
.softwarelist li{
	margin-bottom: 15px;
}
.software_1{
	background: url(../img/icon_1.gif) no-repeat 0 5px;
	padding-left: 45px;
	line-height: 24px;
}
.software_2{
	background: url(../img/icon_2.gif) no-repeat 0 5px ;
	padding-left: 45px;
	line-height: 24px;
}
.softwarelist .new{
	background: url(../img/new.gif) no-repeat right center;
	padding-right: 15px;
}
.software_3{
	background: url(../img/icon_3.gif) no-repeat 0 5px ;
	padding-left: 45px;
	line-height: 24px;
}
.software_4{
	background: url(../img/icon_4.gif) no-repeat 0 5px ;
	padding-left: 45px;
	line-height: 24px;
}
.software_5{
	background: url(../img/icon_5.gif) no-repeat 0 5px ;
	padding-left: 45px;
	line-height: 24px;
}
.software_6{
	background: url(../img/icon_6.gif) no-repeat 0 5px ;
	padding-left: 45px;
	line-height: 24px;
}
.softwarelist dt{
	color: #828282;
}
.softwarelist a{
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	margin-right: 10px;
}
.softwarelist a:hover{
	text-decoration: none;
}
.softwarelist dd{
	color: #323232;
	font-size: 14px;
}
.softwarelist .download{
	background: url(../img/downicon.gif) no-repeat 0 center;
	padding-left: 15px;
	margin-right: 5px;
}
.softwarelist .web{
	margin-left: 5px;
}
.softwarelist span a{
	font-weight: normal;
	font-size: 12px;
	text-decoration: underline;
	
}
.softwarelist span a:hover{
	text-decoration: none;
}
.sidebar{
	width: 280px;
	margin-top: 12px;
}
.sidebar h3{
	line-height: 26px;
	border-bottom: 1px solid #cce6f5;
}
.sidebar ul{
	margin-top: 11px;
}
.sidebar li{
	line-height: 23px;
}
.sidebar .two{
	margin-top: 15px;
}
.sorf{
	overflow: hidden;
}
.down{
	overflow: hidden;
}
.sorf li{
	line-height: 30px;
	padding-left: 23px;
	
}
.sorf1{
	background: url(../img/soft_r_1.gif) no-repeat 0 5px;
}
.sorf2{
	background: url(../img/soft_r_2.gif) no-repeat 0 5px;
}
.sorf3{
	background: url(../img/soft_r_3.gif) no-repeat 0 5px;
}
.sorf4{
	background: url(../img/soft_r_4.gif) no-repeat 0 5px;
}
.sorf5{
	background: url(../img/soft_r_5.gif) no-repeat 0 5px;
}
.sorf6{
	background: url(../img/soft_r_6.gif) no-repeat 0 5px;
}
.down li{
	line-height: 30px;
	background: url(../img/downicon.gif) no-repeat 0 center;
	padding-left: 15px;
}
.down li a{
	text-decoration: underline;
}
.down li a:hover{
	text-decoration: none;
}
.hezuo{
	margin-top: 20px;
}
.last .center{
	margin: 11px 34px 0 20px
}
/* mainbody E */
/* footer B */
#footer{
	width: 100%;
	background: #f8f8f8;
	border-top: 1px solid #e6e6e6;
	margin-top: 20px;
	padding: 15px 0;
}
#footer p{
	color: #9e9e9e;
	text-align: center;
	line-height: 26px;
}
/* footer E */
